In [61]:
import pandas as pd
from datetime import datetime
import numpy as np

In [62]:
#!/usr/bin/env python
from __future__ import print_function
import os
 
path = '.'
 
files = os.listdir(path)
for name in files:
    print(name)

.DS_Store
mc_temp.html
covid-19.ipynb
README.md
.gitignore
who_covid_19_situation_reports
.ipynb_checkpoints
csse_covid_19_data
archived_data
.git

In [63]:
path = 'csse_covid_19_data/.'
 
files = os.listdir(path)
for name in files:
    print(name)

csse_covid_19_time_series
README.md
UID_ISO_FIPS_LookUp_Table.csv
csse_covid_19_daily_reports

In [64]:
path = 'csse_covid_19_data/csse_covid_19_time_series/'
 
files = os.listdir(path)
for name in files:
    print(name)

time_series_covid19_confirmed_global.csv
time_series_covid19_confirmed_US.csv
time_series_covid19_recovered_global.csv
README.md
.gitignore
time_series_covid19_deaths_global.csv
time_series_covid19_deaths_US.csv

In [65]:
data_conf_path = "csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
data_reco_path = "csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"
data_death_path = "csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
data_conf = pd.read_csv(data_conf_path)
data_reco = pd.read_csv(data_reco_path)
data_death = pd.read_csv(data_death_path)

In [66]:
data_conf.shape

(258, 77)

In [67]:
data_reco.shape

(244, 77)

In [68]:
data_death.shape

(258, 77)

In [69]:
data_death.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,2,4,4,4,4,4,4,4,6,6
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,5,6,8,10,10,11,15,15,16,17
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,21,25,26,29,31,35,44,58,86,105
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,1,3,3,3,6,8,12,14,15,16
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,2,2,2,2,2,2

In [70]:
data_death.columns.format

<bound method Index.format of Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20',
       '4/2/20', '4/3/20'],
      dtype='object')>

In [71]:
data_conf_country = data_conf.iloc[:, 1]
data_conf_date = data_conf.iloc[:, 4:]

In [72]:
data_reco_country = data_reco.iloc[:, 1]
data_reco_date = data_reco.iloc[:, 4:]

In [73]:
data_death_country = data_death.iloc[:, 1]
data_death_date = data_death.iloc[:, 4:]

In [74]:
new_data_conf = pd.merge(data_conf_country,data_conf_date,left_index=True, right_index=True)
new_data_reco = pd.merge(data_reco_country,data_reco_date,left_index=True, right_index=True)
new_data_death = pd.merge(data_death_country,data_death_date,left_index=True, right_index=True)

In [75]:
new_data_conf.shape

(258, 74)

In [76]:
new_data_conf

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,84,94,110,110,120,170,174,237,273,281
1,Albania,0,0,0,0,0,0,0,0,0,...,146,174,186,197,212,223,243,259,277,304
2,Algeria,0,0,0,0,0,0,0,0,0,...,302,367,409,454,511,584,716,847,986,1171
3,Andorra,0,0,0,0,0,0,0,0,0,...,188,224,267,308,334,370,376,390,428,439
4,Angola,0,0,0,0,0,0,0,0,0,...,3,4,4,5,7,7,7,8,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,Botswana,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,3,4,4,4,4
254,Burundi,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,3,3
255,Sierra Leone,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2,2,2
256,Netherlands,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
257,Malawi,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,3

In [77]:
country_list = sorted(list(set(data_conf_country)))

In [78]:
len(country_list)

181

In [79]:
new_data_conf = new_data_conf.groupby(['Country/Region'])[new_data_conf.columns].sum()
new_data_reco = new_data_reco.groupby(['Country/Region'])[new_data_reco.columns].sum()
new_data_death = new_data_death.groupby(['Country/Region'])[new_data_death.columns].sum()

In [80]:
new_data_conf=new_data_conf.transpose()
new_data_reco=new_data_reco.transpose()
new_data_death=new_data_death.transpose()

In [81]:
new_data_conf.shape

(73, 181)

In [82]:
new_data_conf.head()

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Ukraine,United Arab Emirates,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Zambia,Zimbabwe
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
1/26/20,0,0,0,0,0,0,0,0,4,0,...,0,0,0,0,0,0,2,0,0,0

In [83]:
new_data_conf.reset_index(level=0, inplace=True)

In [84]:
new_data_conf.head()

Country/Region,index,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,Ukraine,United Arab Emirates,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Zambia,Zimbabwe
0,1/22/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/23/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
2,1/24/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
3,1/25/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
4,1/26/20,0,0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,2,0,0,0

In [85]:
new_data_reco.reset_index(level=0, inplace=True)

In [86]:
new_data_reco.head()

Country/Region,index,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,Ukraine,United Arab Emirates,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Zambia,Zimbabwe
0,1/22/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/23/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1/24/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1/25/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1/26/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [87]:
new_data_death.reset_index(level=0, inplace=True)

In [88]:
new_data_death.head()

Country/Region,index,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,Ukraine,United Arab Emirates,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Zambia,Zimbabwe
0,1/22/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/23/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1/24/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1/25/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1/26/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
new_data_conf.rename(columns={'index' : 'Date'}, inplace=True)
new_data_reco.rename(columns={'index' : 'Date'}, inplace=True)
new_data_death.rename(columns={'index' : 'Date'}, inplace=True)

In [90]:
new_data_conf.dtypes

Country/Region
Date                  object
Afghanistan            int64
Albania                int64
Algeria                int64
Andorra                int64
                       ...
Venezuela              int64
Vietnam                int64
West Bank and Gaza     int64
Zambia                 int64
Zimbabwe               int64
Length: 182, dtype: object

In [30]:
# new_data_conf['Date'] = new_data_conf['Date'].apply(lambda x: datetime.strptime(x, '%m/%d/%y'))

In [31]:
# new_data_reco['Date'] = new_data_reco['Date'].apply(lambda x: datetime.strptime(x, '%m/%d/%y'))

In [32]:
# new_data_death['Date'] = new_data_death['Date'].apply(lambda x: datetime.strptime(x, '%m/%d/%y'))

In [33]:
new_data_conf.dtypes

Country/Region
Date                  datetime64[ns]
Afghanistan                    int64
Albania                        int64
Algeria                        int64
Andorra                        int64
                           ...
Venezuela                      int64
Vietnam                        int64
West Bank and Gaza             int64
Zambia                         int64
Zimbabwe                       int64
Length: 182, dtype: object

In [34]:
new_data_reco.dtypes

Country/Region
Date                  datetime64[ns]
Afghanistan                    int64
Albania                        int64
Algeria                        int64
Andorra                        int64
                           ...
Venezuela                      int64
Vietnam                        int64
West Bank and Gaza             int64
Zambia                         int64
Zimbabwe                       int64
Length: 182, dtype: object

In [35]:
new_data_death.dtypes

Country/Region
Date                  datetime64[ns]
Afghanistan                    int64
Albania                        int64
Algeria                        int64
Andorra                        int64
                           ...
Venezuela                      int64
Vietnam                        int64
West Bank and Gaza             int64
Zambia                         int64
Zimbabwe                       int64
Length: 182, dtype: object

In [91]:
new_data_conf.head()

Country/Region,Date,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,Ukraine,United Arab Emirates,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Zambia,Zimbabwe
0,1/22/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/23/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
2,1/24/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
3,1/25/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
4,1/26/20,0,0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,2,0,0,0

In [92]:
cols = new_data_conf.columns.tolist()

new_data_conf = new_data_conf.melt(id_vars='Date', value_vars=cols[2:])
new_data_reco = new_data_reco.melt(id_vars='Date', value_vars=cols[2:])
new_data_death = new_data_death.melt(id_vars='Date', value_vars=cols[2:])

In [93]:
new_data_conf

          Date Country/Region  value
0      1/22/20        Albania      0
1      1/23/20        Albania      0
2      1/24/20        Albania      0
3      1/25/20        Albania      0
4      1/26/20        Albania      0
...        ...            ...    ...
13135  3/30/20       Zimbabwe      7
13136  3/31/20       Zimbabwe      8
13137   4/1/20       Zimbabwe      8
13138   4/2/20       Zimbabwe      9
13139   4/3/20       Zimbabwe      9

[13140 rows x 3 columns]

In [94]:
new_data_reco

          Date Country/Region  value
0      1/22/20        Albania      0
1      1/23/20        Albania      0
2      1/24/20        Albania      0
3      1/25/20        Albania      0
4      1/26/20        Albania      0
...        ...            ...    ...
13135  3/30/20       Zimbabwe      0
13136  3/31/20       Zimbabwe      0
13137   4/1/20       Zimbabwe      0
13138   4/2/20       Zimbabwe      0
13139   4/3/20       Zimbabwe      0

[13140 rows x 3 columns]

In [95]:
new_data_death

          Date Country/Region  value
0      1/22/20        Albania      0
1      1/23/20        Albania      0
2      1/24/20        Albania      0
3      1/25/20        Albania      0
4      1/26/20        Albania      0
...        ...            ...    ...
13135  3/30/20       Zimbabwe      1
13136  3/31/20       Zimbabwe      1
13137   4/1/20       Zimbabwe      1
13138   4/2/20       Zimbabwe      1
13139   4/3/20       Zimbabwe      1

[13140 rows x 3 columns]

In [96]:
newcols = new_data_conf.columns.to_list()
newcols

['Date', 'Country/Region', 'value']

In [97]:
new_df = pd.merge(new_data_conf, new_data_reco,  how='left', left_on=['Date','Country/Region'], right_on = ['Date','Country/Region'])
new_df.head()

      Date Country/Region  value_x  value_y
0  1/22/20        Albania        0        0
1  1/23/20        Albania        0        0
2  1/24/20        Albania        0        0
3  1/25/20        Albania        0        0
4  1/26/20        Albania        0        0

In [98]:
Group = new_df.groupby(['Date','Country/Region'])
Group.mean()

                             value_x  value_y
Date    Country/Region
1/22/20 Albania                    0        0
        Algeria                    0        0
        Andorra                    0        0
        Angola                     0        0
        Antigua and Barbuda        0        0
...                              ...      ...
4/3/20  Venezuela                153       52
        Vietnam                  237       85
        West Bank and Gaza       194       21
        Zambia                    39        2
        Zimbabwe                   9        0

[13140 rows x 2 columns]

In [99]:
final_df = pd.merge(new_df, new_data_death,  how='left', left_on=['Date','Country/Region'], right_on = ['Date','Country/Region'])
final_df.head()

      Date Country/Region  value_x  value_y  value
0  1/22/20        Albania        0        0      0
1  1/23/20        Albania        0        0      0
2  1/24/20        Albania        0        0      0
3  1/25/20        Albania        0        0      0
4  1/26/20        Albania        0        0      0

In [100]:
Group2 = final_df.groupby(['Date','Country/Region'])
Group2.mean()

                             value_x  value_y  value
Date    Country/Region
1/22/20 Albania                    0        0      0
        Algeria                    0        0      0
        Andorra                    0        0      0
        Angola                     0        0      0
        Antigua and Barbuda        0        0      0
...                              ...      ...    ...
4/3/20  Venezuela                153       52      7
        Vietnam                  237       85      0
        West Bank and Gaza       194       21      1
        Zambia                    39        2      1
        Zimbabwe                   9        0      1

[13140 rows x 3 columns]

In [101]:
lastcols = final_df.columns.to_list()
lastcols

['Date', 'Country/Region', 'value_x', 'value_y', 'value']

In [102]:
final_df.rename(columns={'Date' : 'Date',
                     'Country/Region' : 'Country/Region',
                     'value_x' : 'Confirmed_Cases',
                     'value_y' : 'Recovered_Cases',
                     'value' : 'Deaths'}, inplace=True)

In [ ]:
# df = new_data_conf
# # df['Countries']=np.nan
# df['Countries']=np.nan
# df.head()

In [ ]:
# cols = cols[0:1]+cols[-1:]+cols[1:-1]

In [ ]:
# df = df[cols]
# df.head()

In [ ]:
# country_dict = dict()
# df2 = new_data_conf

# df2 = df2.melt(id_vars='Date', value_vars=cols[2:])
# df2.tail()

In [ ]:
# df_dict = {'time':[1,2,3],'a':['a1','a2','a3'],'b':['b1','b2','b3'], 'c':['c1','c2','c3']}

# df = pd.DataFrame(df_dict)

# df

In [ ]:
# df.melt(id_vars='time', value_vars=['a', 'b', 'c'])

In [ ]:
# df_dict = {'time':[1,2,3,1,2,3,1,2,3],'new_column':['a','a','a','b','b','b','c','c','c'], 'values':['a1','a2','a3','b1','b2','b3','c1','c2','c3']}

# df = pd.DataFrame(df_dict)

# df

In [ ]:
# new_data_conf=new_data_conf.transpose()
# new_header = new_data_conf.iloc[0] 

# new_data_conf = new_data_conf[1:] 
# new_data_conf.columns = new_header
# new_data_conf.head()

In [ ]:
# new_data_reco = new_data_reco.transpose()
# new_header = new_data_reco.iloc[0] 

# new_data_reco = new_data_reco[1:]
# new_data_reco.columns = new_header
# new_data_reco.head()

In [ ]:
# new_data_death = new_data_death.transpose()
# new_header = new_data_death.iloc[0] 

# new_data_death = new_data_death[1:]
# new_data_death.columns = new_header
# new_data_death.head()

In [ ]:
# pip install motionchart

In [ ]:
# pip install pyperclip

In [52]:
from motionchart.motionchart import MotionChart
# import matplotlib.pyplot as plt 
# import matplotlib.image as mpimg
# from scipy.stats import linregress
# import plotly
# import plotly.plotly as py
# import plotly.tools as tls

In [53]:
%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:1000px;  /* your desired max-height here */
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

In [103]:
lastcols = final_df.columns.to_list()
lastcols

['Date', 'Country/Region', 'Confirmed_Cases', 'Recovered_Cases', 'Deaths']

In [104]:
mChart = MotionChart(df = final_df, key='Date', x='Confirmed_Cases', y='Recovered_Cases', xscale='linear', yscale='linear',
                     size='Deaths', color='Country/Region', category='Country/Region')

mChart.to_notebook()

In [58]:
mChart = MotionChart(df = final_df, key='Date', x='Recovered_Cases', y='Deaths', xscale='linear', yscale='linear',
                     size='Confirmed_Cases', color='Country/Region', category='Country/Region')

mChart.to_notebook()

In [58]:
mChart = MotionChart(df = final_df, key='Date', x='Recovered_Cases', y='Deaths', xscale='linear', yscale='linear',
                     size='Confirmed_Cases', color='Country/Region', category='Country/Region')

mChart.to_notebook()