In [47]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import numpy as np

# SCRAPES THE LATEST DATA FROM WORLDOMETERS
url = 'https://www.worldometers.info/coronavirus/#countries'

r = requests.get(url)

c = r.content

soup = bs(c,'html.parser')

main_table = soup.findAll('table',{'id':'main_table_countries'})

table = main_table[0]

body = table.find('tbody')
rows = body.findAll('tr')

countries = dict()

for r in rows:
    td = r.findAll('td')
    name = td[0].get_text().strip()
    confirmed = td[1].get_text().strip()
    inc = td[2].get_text().strip()
    deaths = td[3].get_text().strip()
    d_inc = td[4].get_text().strip()
    recovered = td[5].get_text().strip()
    active_cases = td[6].get_text().strip()
    serious = td[7].get_text().strip()
    conf_p_M = td[8].get_text().strip()
    countries[name] = [confirmed,inc,deaths,d_inc,
                       recovered,active_cases,serious,conf_p_M]

cols = ['confirmed','inc','dead','dead_inc','recovered',
        'active_cases','serious','confirmed_per_M']

df = pd.DataFrame.from_dict(countries)
df = df.T
df.columns = cols



df[['inc','dead_inc']] = df[['inc','dead_inc']].apply(
    lambda x : x.str.replace('+',''))

df[['confirmed','dead','recovered','active_cases',
    'serious','inc','dead_inc']] = \
    df[['confirmed','dead','recovered','active_cases',
        'serious','inc','dead_inc']].apply(
    lambda x : x.str.replace(',',''))

df[cols] = df[cols].apply(lambda x: x.replace('',np.nan))


df[cols] = df[cols].astype(float)
df['yesterday'] = df['confirmed'] - df['inc']
df['factor'] = df['confirmed'] / df['yesterday']
cols  = ['confirmed', 'yesterday','inc', 'factor','dead', 'dead_inc', 'recovered', 'active_cases',
       'serious', 'confirmed_per_M']

df = df[cols]

df.head(40)

,confirmed,yesterday,inc,factor,dead,dead_inc,recovered,active_cases,serious,confirmed_per_M
China,80815.0,80793.0,22.0,1.000272,3177.0,8.0,64152.0,13486.0,4020.0,56.1
Italy,15113.0,NaN,NaN,NaN,1016.0,NaN,1258.0,12839.0,1153.0,250.0
Iran,11364.0,10075.0,1289.0,1.127940,514.0,85.0,3529.0,7321.0,NaN,135.3
S. Korea,7979.0,7869.0,110.0,1.013979,71.0,5.0,510.0,7398.0,93.0,155.6
Spain,3958.0,3146.0,812.0,1.258106,91.0,5.0,189.0,3678.0,190.0,84.7
Germany,3117.0,2745.0,372.0,1.135519,7.0,1.0,46.0,3064.0,9.0,37.2
France,2876.0,NaN,NaN,NaN,61.0,NaN,12.0,2803.0,129.0,44.1
USA,1832.0,1697.0,135.0,1.079552,41.0,NaN,31.0,1760.0,10.0,5.5
Switzerland,1135.0,868.0,267.0,1.307604,7.0,NaN,4.0,1124.0,NaN,131.1
Norway,879.0,800.0,79.0,1.098750,1.0,NaN,1.0,877.0,NaN,162.1
Denmark,785.0,674.0,111.0,1.164688,NaN,NaN,1.0,784.0,2.0,135.5
Sweden,733.0,687.0,46.0,1.066958,1.0,NaN,1.0,731.0,2.0,72.6
Japan,701.0,691.0,10.0,1.014472,19.0,NaN,118.0,564.0,29.0,5.5
Diamond Princess,696.0,NaN,NaN,NaN,7.0,NaN,325.0,364.0,32.0,NaN
Netherlands,614.0,NaN,NaN,NaN,5.0,NaN,2.0,607.0,1.0,35.8
UK,609.0,590.0,19.0,1.032203,10.0,NaN,18.0,581.0,20.0,9.0
Belgium,556.0,399.0,157.0,1.393484,3.0,NaN,1.0,552.0,2.0,48.0
Austria,428.0,361.0,67.0,1.185596,1.0,NaN,6.0,421.0,1.0,47.5
Qatar,262.0,NaN,NaN,NaN,NaN,NaN,NaN,262.0,NaN,90.9
Bahrain,210.0,197.0,13.0,1.065990,NaN,NaN,44.0,166.0,1.0,123.4
Australia,199.0,156.0,43.0,1.275641,3.0,NaN,26.0,170.0,1.0,7.8
Singapore,187.0,NaN,NaN,NaN,NaN,NaN,96.0,91.0,12.0,32.0
Canada,158.0,142.0,16.0,1.112676,1.0,NaN,11.0,146.0,1.0,4.2
Malaysia,158.0,NaN,NaN,NaN,NaN,NaN,32.0,126.0,3.0,4.9
Finland,155.0,109.0,46.0,1.422018,NaN,NaN,1.0,154.0,NaN,28.0
Hong Kong,132.0,131.0,1.0,1.007634,4.0,1.0,77.0,51.0,4.0,17.6
Israel,126.0,109.0,17.0,1.155963,NaN,NaN,4.0,122.0,2.0,14.6
Greece,117.0,NaN,NaN,NaN,1.0,NaN,2.0,114.0,2.0,11.2
Czechia,117.0,116.0,1.0,1.008621,NaN,NaN,NaN,117.0,2.0,10.9
Iceland,117.0,NaN,NaN,NaN,NaN,NaN,NaN,117.0,NaN,NaN
Portugal,112.0,78.0,34.0,1.435897,NaN,NaN,1.0,111.0,1.0,11.0
Slovenia,96.0,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN,46.2
Brazil,85.0,77.0,8.0,1.103896,NaN,NaN,NaN,85.0,2.0,0.4
UAE,85.0,NaN,NaN,NaN,NaN,NaN,20.0,65.0,2.0,8.6
Iraq,83.0,NaN,NaN,NaN,8.0,NaN,24.0,51.0,NaN,2.1
India,81.0,74.0,7.0,1.094595,1.0,NaN,4.0,76.0,NaN,0.1
Egypt,80.0,NaN,NaN,NaN,2.0,NaN,27.0,51.0,NaN,0.8
Kuwait,80.0,NaN,NaN,NaN,NaN,NaN,5.0,75.0,4.0,18.7
San Marino,77.0,72.0,5.0,1.069444,5.0,NaN,NaN,72.0,3.0,NaN
Lebanon,77.0,68.0,9.0,1.132353,3.0,NaN,1.0,73.0,3.0,11.3

In [48]:
country_names = list(sorted((df.index.unique().values)))
country_names

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'DRC',
 'Denmark',
 'Diamond Princess',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'Estonia',
 'Ethiopia',
 'Faeroe Islands',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Guadeloupe',
 'Guyana',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Latvia',
 'Lebanon',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'Malaysia',
 'Maldives',
 'Malta',
 'Martinique',
 'Mexico',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Morocco',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestine',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'RÃ©union',
 'S. Korea',
 'Saint Martin',
 'San Marino',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'St. Barth',
 'St. Vincent Grenadines',
 'Sweden',
 'Switzerland',
 'Taiwan',
 'Thailand',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'UAE',
 'UK',
 'USA',
 'Ukraine',
 'Vatican City',
 'Vietnam']

In [49]:
some_countries = ['Sweden','USA','Italy','Spain','Norway','Finland','Denmark','Singapore','S. Korea','China']
countries_of_interest = df.loc[some_countries,:]
countries_of_interest.sort_values('confirmed',inplace=True,ascending=False)
countries_of_interest

,confirmed,yesterday,inc,factor,dead,dead_inc,recovered,active_cases,serious,confirmed_per_M
China,80815.0,80793.0,22.0,1.000272,3177.0,8.0,64152.0,13486.0,4020.0,56.1
Italy,15113.0,NaN,NaN,NaN,1016.0,NaN,1258.0,12839.0,1153.0,250.0
S. Korea,7979.0,7869.0,110.0,1.013979,71.0,5.0,510.0,7398.0,93.0,155.6
Spain,3958.0,3146.0,812.0,1.258106,91.0,5.0,189.0,3678.0,190.0,84.7
USA,1832.0,1697.0,135.0,1.079552,41.0,NaN,31.0,1760.0,10.0,5.5
Norway,879.0,800.0,79.0,1.098750,1.0,NaN,1.0,877.0,NaN,162.1
Denmark,785.0,674.0,111.0,1.164688,NaN,NaN,1.0,784.0,2.0,135.5
Sweden,733.0,687.0,46.0,1.066958,1.0,NaN,1.0,731.0,2.0,72.6
Singapore,187.0,NaN,NaN,NaN,NaN,NaN,96.0,91.0,12.0,32.0
Finland,155.0,109.0,46.0,1.422018,NaN,NaN,1.0,154.0,NaN,28.0